<!DOCTYPE html>
<html>

<head>
  <% include ../views/partials/html_head%>
    <title>
      <%= head_title %>
    </title>

</head>

<body>
  <% include ../views/partials/header%>

  <h3 style="font-size:26px; text-align:center; background-color: #333333;">
    <%= head_title %>
  </h3>
  <div class="mdl-grid">
    <div class="mdl-card-wide mdl-shadow--2dp" style="background: whitesmoke; min-height: 300px;margin:4px 0 4px 16px;">
      <div class="mdl-card__title mdl-card--expand">
        <img src="../images/about.png" style="width:100%;" />
      </div>
    </div>
    <br>
    <br>

  </div>

  <% include ../views/partials/footer%>
</body>

</html>