<!DOCTYPE html>
<html>

<head>
  <% include ../views/partials/html_head%>
    <title>
      <%= title %>
    </title>

    
    <body>
      <% include ../views/partials/header%>
    </head>
  
    <form id="add_new_microcontroller" method="post" action="../api/microcontroller/add">
      <div class="mdl-card-wide mdl-shadow--2dp" style="background: whitesmoke;">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Add Microcontroller information below</h2>
        </div>
        <div class="mdl-card__supporting-text" style="width: 98%;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--4-col-desktop">
            <input class="mdl-textfield__input" type="text" pattern="-?^[a-zA-Z0-9 _]*?" name="name" id="name" data-required=true>
            <label class="mdl-textfield__label" for="name">Name</label>
            <span class="mdl-textfield__error">Use characters and numbers only!</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--4-col-desktop">
            <input class="mdl-textfield__input" type="text" pattern="-?^[a-fA-F0-9:]*?" name="mac" id="mac" data-required=true>
            <label class="mdl-textfield__label" for="mac">MAC address</label>
            <span class="mdl-textfield__error">Invalid MAC address!</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--4-col-desktop">
            <input class="mdl-textfield__input" type="text" pattern="-?^[0-1]*?" name="status" id="status" data-required=true readonly value="0">
            <label class="mdl-textfield__label" for="status">Status: </label>
            <span class="mdl-textfield__error">Invalid status!</span>
          </div>
          <br>
          
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <textarea class="mdl-textfield__input" type="text" rows=4 name="description" id="description" placeholder="Enter description about the microcontroller." data-required=true></textarea>
            <label class="mdl-textfield__label" for="description">Description</label>
            <span class="mdl-textfield__error">Enter some valid description!</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--4-col-desktop">
            <input class="mdl-textfield__input" type="text" pattern="-?^[a-zA-Z0-9_]*?" name="model_type"
              id="model_type" value="ESP32" data-required=true>
            <label class="mdl-textfield__label" for="model_type">Model type</label>
            <span class="mdl-textfield__error">Use only characters, numbers or '_' !</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--4-col-desktop">
            <input class="mdl-textfield__input" type="text" readonly value="0.0.0.0" pattern="-?^[0-9.]*?" name="ip" id="ip">
            <label class="mdl-textfield__label" for="ip">IP address</label>
            <span class="mdl-textfield__error">Invalid IP address!</span>
          </div>
          <!-- UNCOMMENT ONLY IF you want to set STATUS manually-->

          <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop">
            <input class="mdl-textfield__input" type="text" value="" pattern="?^[0-9]*?" name="status" id="status">
            <label class="mdl-textfield__label" for="status">Status:</label>
            <span class="mdl-textfield__error">Invalid input!</span>
          </div> -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--4-col-desktop">
            <input class="mdl-textfield__input" type="text" pattern="-?^[0-9]*?" name="num_of_pins"
              id="num_of_pins" placeholder="#" data-required=true>
            <label class="mdl-textfield__label" for="num_of_pins">Number of Pins:</label>
            <span class="mdl-textfield__error">Invalid Number!</span>
          </div>
          <br>
          <span style="top:4px; font-size:12px; color:rgb(139,195,74)">Enter pin labels below: </span>
          <div id="pins_layout" class="mdl-grid mdl-cell--12-col" style="margin:0 -4px;">
              
          </div>
          <br>
          <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="submit">
        </div>
      </div>
    </form>

    <script src="../javascripts/esp_add.js" ></script>
    <script src="../javascripts/data_required_script.js"></script>

    <% include ../views/partials/footer%>
</body>

</html>