<!DOCTYPE html>
<html>

<head>
  <% include ../views/partials/html_head%>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <% include ../views/partials/header%>
  <iframe src="http://localhost:3000/d/iUnGR8nGk/iot" width="1280" height="860" frameborder="0">	
  </iframe>
  <% include ../views/partials/footer%>
</body>

</html>