 ADD SENSOR
<!-- <div class="border mdl-cell--4-col-phone">
              <table class="mdl-table">
                <tr>
                  <td colspan="2">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" pattern="-?^[a-zA-Z0-9_]*?" name="pins[0][pin_label]" id="pin_label">
                      <label class="mdl-textfield__label" for="pin_label">Pin Label:</label>
                      <span class="mdl-textfield__error">Invalid Name!</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                      <input type="radio" id="option-1" class="mdl-radio__button" name="pins[0][pin_type]" value="A" checked>
                      <span class="mdl-radio__label">Analog</span>
                    </label>
                  </td>
                  <td>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                      <input type="radio" id="option-2" class="mdl-radio__button" name="pins[0][pin_type]" value="D">
                      <span class="mdl-radio__label">Digital</span>
                    </label>
                  </td>
                </tr>
              </table>
              <br>
            </div> -->